/*Reset*/
*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.5;
    background-image: url("img/Sign up form v1.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}